*, *:before, *:after {
    box-sizing: border-box;
}

html {
  color: #2C1901;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #E4CB93;
}

a {
  color: inherit;
}

header {
  display: flex;
  color: #EBDDC0;
  background: #894200;
  border: 1px solid #763A00;
}

h1 {
  flex: 1;
  white-space: nowrap;
  font-size: 1.25rem;

  margin: auto;
}

nav {
  display: flex;
}

.nav-btn {
  padding: 6px 8px;
  border: none;
  background: none;
  font-weight: bold;
  color: #EBDDC0;
  text-decoration: none;
  margin: 6px 0;
  border-radius: 5px;
}

.nav-btn:hover {
  color: #fff;
}

.lg-screen-text {
  display: none;
}

[class^="icon-"]:before{
  vertical-align: middle;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container,
header {
  padding: 0 15px;
}

aside {
  display: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.input,
.output {
  flex: 1;
  border: 1px solid #CCA858;
  padding: 6px;
  background: #F6F1E7;
}

.input {
  display: inline-block;
  margin-bottom: 15px;
}

/* Styles for bigger screens (mobile first!). */
@media(min-width: 480px) {

  h1 {
    font-size: 1.5em;
  }

  /* More generous padding. */
  .container {
    padding: 0 5%;
  }

  header {
    margin: 10px 5% 0;
    padding: 0 15px;
    border-radius: 5px;
  }

  /* Make two-column layout. */
  .container {
    flex-direction: row-reverse;
  }

  aside {
    display: flex;
    flex-direction: column;

    margin-right: 15px;
  }

  .options {
    flex: 1;
  }

  footer {
    font-size: 0.9rem;
    padding: 15px 0;
  }

  .lg-screen-text {
    display: inline;
  }
}

.error {
  color: red;
}

input[name=max-steps] {
  width: 100px;
}

.reduction {
  cursor: pointer;
  margin-bottom: 5px;
  line-height: 22px;
}

.reduction .expanded .arrow {
  margin-left: 10px;
}

.arrow {
  display: inline-block;
  position: relative;
  width: 20px;
  text-align: center
}

.arrow > small {
  font-size: 80%;
  position: absolute;
  top: 0.65em;
  left: 0;
  width: 20px;
  text-align: center;
}

.step .match {
  box-sizing: border-box;
}

.step.highlight .match {
  box-shadow: 0 1px 0 0 #2C1901;
}

.step.highlight .former-term {
  color: rgb(227, 0, 217);
  text-shadow: 0 0 1px white, 1px 1px 1px rgba(227, 0, 217, 0.4);
}

.step.highlight .subst-term {
  color: rgb(0, 184, 1);
  text-shadow: 0 0 1px white, 1px 1px 1px rgba(0, 184, 1, 0.4);
}

.step .before {
  display: none;
}

.step:first-child .before {
  display: inline;
}

.step.highlight .before {
  display: inline;
}

/* Highlight last term of a reduction */
.collapsed .term:last-child,
.expanded .step:last-child .term.after {
  font-weight: bold;
}
