.input {
  width:100%;
  display: block;
}

.error-container {
  color: red;
}

.output-container, .error-container {
  display: none;
}

body,html {
  height:100%;
}

body > div.container {
  min-height:100%;
  padding-bottom: 40px; /* Space for footer */
  box-sizing: border-box; /* Makes the padding not to overflow the window size when everything should fit nicely */
}

footer {
  margin-top: -40px;
}