.input {
  width:100%;
  display: block;
}

.error-container {
  color: red;
}

.output-container, .error-container {
  display: none;
}

body,html {
  height:100%;
}

body > div.container {
  min-height:100%;
}

footer {
  height:40px;
  margin-top: -40px;
}